<!DOCTYPE html>
<html>
<head>
    <title>Employee Details</title>
    <link rel='stylesheet' type='text/css' href='/css/main.css'>
    <script src='main.js'></script>
</head>
<body>
<div id="titleBar">
    <p id="employeesTitle">Deleted Employee</p>
</div>
<table>
    <thead>
        <tr>
            <th class="ths">ID</th>
            <th class="ths">Name</th>
            <th class="ths">Age</th>
            <th class="ths">Gender</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input th:value="${id}" readonly="readonly" class="rInput"/></td>
            <td><input th:value="${name}" readonly="readonly" class="rInput"/></td>
            <td><input th:value="${age}" readonly="readonly" class="rInput"/></td>
            <td><input th:value="${gender}" readonly="readonly" class="rInput"/></td>
        </tr>
    </tbody>
</table>

<img id="saveButton" class="clickable bottomButton" onclick="location.href='/'" height="28px" width="28px" src="/icons/home_icon.png"/>

</body>
</html>